 @font-face {
     font-family: 'Barlow';
     src: url('../fonts/Barlow-Regular.ttf');
 }

 * {
     margin: 0;
     padding: 0;
     font-family: "Barlow";
     color: #d6d6d6;
 }

 table {
     border-spacing: 20px 5px;
 }

 td {
     vertical-align: text-top;
 }

 #Console {
     position: relative;
     display: flex;
     flex-direction: column;
     width: 100%;
     height: calc(100% - 25px);
     padding: 0 5px;
     box-sizing: border-box;
     background-color: #000;
     color: inherit;
     overflow: scroll;
 }

 #console::-webkit-scrollbar {
     display: none;
 }

 #Console_output {
     word-wrap: break-word;
     white-space: wrap;
 }

 #Console_prefix {
     width: fit-content;
 }

 #console_input {
     position: relative;
     flex-grow: 1;
     cursor: default;
     text-indent: 100px;
     outline: none;
     transform: translateY(-19px);
 }