*{
    margin: 0;
    padding: 0;
    color: var(--text-color_primary);
}

body{
    background-color: var(--background-color_primary);
    overflow: hidden;
}

#Copyright{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#Title{
    display: flex;
    gap: 8px;
    cursor: default;
}

#Title span{
    font-family: Inter;
    font-weight: lighter;
}

.duck{
    position: absolute;
    cursor: crosshair;
    animation: duck-move-x 10s linear 0s infinite alternate, duck-move-y 1s linear 0s infinite alternate;
    bottom: -5px;
}

.no-select{
    user-select: none;
}


/* Effects */
.fall > *{
    transform-origin: bottom; 
    transition: transform .2s ease-in;
    transition-delay: 2s;
}
.fall-hover:hover > *,
.fall-click:active > *{
    transform: rotateX(64deg) translateZ(5px);
    transition-delay: 0s; /* Sem delay ao iniciar a animação */
}

.jump > *{
    transition: all .5s cubic-bezier(.24, 5, .1, 5);
}
.jump:hover > *{
    transform: translateY(10px);
}


/* Animations */
@keyframes  duck-move-x{
      0% { right: 0;}
    100% { right: 110%;}
}

@keyframes  duck-move-y{
    0% { bottom: -5px;}
  100% { bottom: -50px;}
}



@media (hover: hover) and (pointer: fine) {
    
}

@media (hover: none) and (pointer: coarse) {
    .fall-click:hover > * {
        transform: rotateX(64deg) translateZ(5px);
        transition-delay: 0s; /* Sem delay ao iniciar a animação */
    }
}